[submodule "dependencies/lean-vtk"]
	path = dependencies/lean-vtk
	url = https://github.com/mmorse1217/lean-vtk
[submodule "dependencies/glm"]
	path = dependencies/glm
	url = https://github.com/g-truc/glm
[submodule "dependencies/fltk"]
	path = dependencies/fltk
	url = https://github.com/fltk/fltk
